#add-task-box {
    width: 400px;
    height: 450px;
    background-color: white;
    margin-left: 35%;
    margin-top: 7%;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px;
}

#add-task-image{
    width: 220px;
    height: 300px;
    margin-left: 50px;
    margin-top: 70px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#add-task-form{
    margin-top: 20px;
}

#add-task-box input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 15px 35px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    outline: none;
  }
  
#add-task-box input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
#add-task-box input[type=submit]:hover {
    background-color: #45a049;
  }