#register-box {
    width: 600px;
    height: 450px;
    background-color: white;
    margin-left: 25%;
    margin-top: 7%;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

#register-image{
    width: 220px;
    height: 300px;
    margin-left: 50px;
    margin-top: 70px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#register-form{
    width: 250px;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: white;
    border-radius: 25px;
}

#toLogin {
    cursor: pointer;
}